@(bookForm: Form[(Int, String, String, Int, Int)], msg: String = "")

@import helper._

@main("Add book") {
	@msg
	@form(routes.DynaLib.handleAddBookRequest) {
		<input type="hidden" id="id" name="id" value="0" >
		@inputText(bookForm("title"))
		@select(bookForm("language"), options = options(SelectOptions.languages))
		@inputText(bookForm("pages"))
		<input id="authorSearch" type="text" data-provide="typeahead" autocomplete="off" />
		<div id="picked"></div>
		<select style="display:none" id="author" name="author" multiple="multiple" size="@AuthorController.getNumberOfAuthors">
			@for(author <- AuthorController.getAuthors) {
				<option value="@author.id">@author.name</option>
			}
		</select>
		<input type="submit" value="Add" class="btn"></input>
	}
	<script>
function markAuthorAsSelected(author, selected) {
	var changed = false;
	$('#author option').each(function() {
		if ($(this).text() == author) {
			if (selected && !this.selected) {
				changed = true;
			} else if (!selected && this.selected) {
				changed = true;
			}
			this.selected = selected;
		}
	});
	return changed;
}

$(function() {
	var source = [
@{
	(for (author <- AuthorController.getAuthors) yield "'"+author.name+"'").mkString(",")
}
	];
	$('#authorSearch').typeahead({
		'source': source
	});
	$('#picked div a').live("click", function() {
		$parent = $(this).parents('div.alert');
		
		var author = $parent.find('span').text();
		if (markAuthorAsSelected(author, false)) {
			$parent.fadeOut(500, function() {
				$(this).remove();
			});
		}
	}); 
	$('#authorSearch').bind("keydown", function(l) {
	    if (l.keyCode == 13) {
	    	l.preventDefault();
	    	$typeahead = $('.typeahead');
	    	if ($typeahead.length == 0 || $typeahead.css('display') == 'none') {
	    		var author = $(this).val();
	    	        
	    		if (-1 == $.inArray(author, source)) {
// TODO: be able to add new ones in form
	    		} else {
	    			if (markAuthorAsSelected(author, true)) {
						var $author = '<div class="span2 alert alert-info">'
			    	          +'<span>'+author+'</span>'
			    	          +'<a href="#" class="close">x</a>'
			    	          +'</div>';
						$('#picked').append($author);
						$('#authorSearch').val('');
	    			}
	    		}
	    	}
	    }
	});
});
	</script>
}