@(bookForm: Form[(Int, String, String, Int, Int)], msg: String = "")(implicit user: User)

@import helper._

@main("Add book") {
	@msg
	@form(routes.RequestHandler.handleAddBookRequest) {
		<input type="hidden" id="id" name="id" value="0" >
		@inputText(bookForm("title"), '_label -> "Title:", '_help -> "")
		@select(bookForm("language"), options = options(SelectOptions.languages), '_label -> "Language", '_help -> "")
		@inputText(bookForm("pages"), '_label -> "Pages:", '_help -> "")
		Category:<br/>
		<select id="category" name="category" multiple="multiple" size="@CategoryController.getNumberOfCategories">
			@for(category <- CategoryController.getCategories) {
				<option value="@category.id">@category.name</option>
			}
		</select><br/>
        Add new author to list: <input id="addAuthor" type="text" /><br />
		Author(s):<br/>
		<select id="author" name="author" multiple="multiple" size="@BookHelper.getSizeOfMultiChoice">
			@for(author <- AuthorController.getAuthors) {
				<option value="@author.id">@author.name</option>
			}
		</select><br/>
		<input type="submit" value="Add" class="btn" />
	}
    <script>
        $(function() {
            OptionAdder.bind($('#addAuthor'), $('#author'), "/api/addAuthor");
        });
    </script>
}