@(bookForm: Form[(Int, String, String, Int, Int)], msg: String = "")

@import helper._

@main("DynaLib") {
	<h2>Add book!</h2>
	@msg
	@form(routes.DynaLib.handleAddBookRequest) {
		<input type="hidden" id="id" name="id" value="0" >
		@inputText(bookForm("title"))
		@inputText(bookForm("language"))
		@inputText(bookForm("pages"))
		<select id="author" name="author" multiple="multiple" size="@AuthorController.getNumberOfAuthors">
			@for(author <- AuthorController.getAuthors) {
				<option value="@author.id">@author.name</option>
			}
		</select>
		<input type="submit" value="Add">
	}
}