@(book: Option[Book], authors: List[Author], users: List[User])

@import helper._

@book.map { b =>
	@main(b.title) {
	
		<b>Title:</b> @b.title <br />
		<b>Language:</b> @b.language <br />
		<b>Pages:</b> @b.pages <br />
		<b>Authors: </b> <br />
		@for(author <- authors) {
			@author.name <br />
		}
		<br />
		@b.borrowedBy.map {_ => 
			@form(routes.DynaLib.handleReturnBookRequest) {
				<input type="hidden" id="bookId" name="bookId" value="@b.id"/>
				<b>Borrowed by @b.borrowedBy. Will be returned @b.borrowedAt</b>
				<input type="submit" value="Return" class="btn"></input>
			}
		}.getOrElse {
			@form(routes.DynaLib.handleBorrowBookRequest) {
				<input type="hidden" id="bookId" name="bookId" value="@b.id" />
					<select id="userId" name="userId">
						@for(user <- UserController.getUsers) {
							<option value="@user.id">@user.name</option>
						}
					</select>
				<input type="submit" value="Borrow" class="btn"></input>
			}
		}
	}
}.getOrElse { 
	@main("No book found") {
	}
}

