@(book: Option[Book])(implicit user: User)

@import helper._
@import components._


@book.map { b =>
	@main(b.title) {
	
		<b>Title:</b> @b.title<br />
		<b>Language:</b> @b.language <br />
		<b>Pages:</b> @b.pages <br />
		<b>Authors: </b> <br />
		@for(author <- b.authors) {
			@author.name <br />
		}
		<br />
		<b>Category: </b> <br />
		@for(category <- b.categories) {
			@category.name <br />
		}
		<br/>
		@form(routes.RequestHandler.handleEditBookRequest) {
			<input type="hidden" value="@b.id" name="id">
			<input type="submit" value="Edit book" class="btn"/>
		}
		<a href="/review/@b.id"><button class="btn">Add review</button></a>
		<br/><br/>
		@b.borrowedBy.map { bUser => 
			@form(routes.RequestHandler.handleReturnBookRequest) {
				<input type="hidden" id="bookId" name="bookId" value="@b.id"/>
				<b>Borrowed by @userSpan(bUser) on @b.borrowedAt. Will be returned @b.backBy.</b>
				<br/>
				<br/>
				
				@if(bUser.id == user.id) {
					<input type="submit" value="Return" class="btn"></input>
				}
				
			}
		}.getOrElse {
			@form(routes.RequestHandler.handleBorrowBookRequest) {
			<h2>Borrow book</h2>
				<input type="hidden" id="bookId" name="bookId" value="@b.id" />
				<input type="hidden" id="userId" name="userId" value="@user.id" />
					For how long: 
					<select id="days" name="days">
						@for(option <- SelectOptions.timePeriods) {
						<option value="@option._1">@option._2</option>
						}
					</select> as <i>@user.name</i>
					<br/>
					<br/>
				<input type="submit" value="Borrow" class="btn"></input>
			}
		}
	}
}.getOrElse { 
	@main("No book found") {
	}
}

