@(book: Option[Book], authors: List[Author], users: List[User])

@import helper._

@main("DynaLib: Bok") {
	<h2>BokInfo:</h2>
	@book.map { b =>
		<b>Title:</b> @b.title <br />
		<b>Language:</b> @b.language <br />
		<b>Pages:</b> @b.pages <br />
		<b>Authors: </b> <br />
		@for(author <- authors) {
			@author.name <br />
		}
		<br />
		@b.borrowedBy.map {_ => 
			<b>Borrowed by @b.borrowedBy. Will be returned @b.borrowedAt</b>
			@form(routes.DynaLib.handleReturnBookRequest) {
				<input type="hidden" id="bookId" name="bookId" value="@b.id" />
				<input type="submit" value="Return" />
			}
		}.getOrElse {
			@form(routes.DynaLib.handleBorrowBookRequest) {
				<input type="hidden" id="bookId" name="bookId" value="@b.id" />
					<select id="userId" name="userId">
						@for(user <- UserController.getUsers) {
							<option value="@user.id">@user.name</option>
						}
					</select>
				<input type="submit" value="Borrow">
			}
		}
	}.getOrElse { 
		<i>Book not found :(</i>
	}
	
	
}
